
<div class="container">
    <h2>article </h2>
     <table class="table">
      <thead>
        <tr>
          <th>Name </th>
          <th>Couleur</th>
          <th>Taille</th>
          <th>Quantity</th>
          <th>Unit price</th>
          <th>Action </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor ="let article of _articlelist">
          <td>{{article.name}}</td>
          <td>{{article.couleur}}</td>
          <td>{{article.taille}}</td>
          <td>{{article.qte}}</td>
          <td>{{article.prix}}</td>
          <td>
            <button type="button" class="btn btn-danger"(click)="Delete_article(article)">Delete</button>&nbsp;&nbsp;
            <button type="button" class="btn btn-primary" (click)="updatearticle(article)">Edit</button>
          </td>
          
        </tr>
      
      </tbody>
    </table>
    <button type="button" class="btn btn-success" (click)="add_aritcle()">add new article</button>
  </div>
  
